<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.grad.dao.CollectMapper">

    <insert id="addCollect">
        insert into user_collect_post (uid, post_id)
        values(#{uid}, #{postId});
    </insert>

    <select id="getUserPostCollect" resultType="String">
        select post_id from user_collect_post where uid = #{uid};
    </select>

    <delete id="deleteCollect">
        delete from user_collect_post where uid = #{uid} and post_id = #{postId};
    </delete>

    <select id="checkIsCollected" resultType="long">
        select id from user_collect_post where uid = #{uid} and post_id = #{postId};
    </select>

</mapper>