<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.grad.dao.CommitteeMapper">
    <insert id="addNote">
        insert into community_note(note_id, community_name, content, read_cnt, create_date)
         values(#{noteId},#{communityName},#{content},#{readCnt}, #{createDate});
    </insert>



</mapper>