<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.grad.dao.PostMapper">
    <select id="getPostsByNewest" resultType="Post">
        select * from post_table order by post_date desc limit 0, #{count};
    </select>

    <insert id="addPost" parameterType="Post">
        insert into post_table(post_id, uid, post_type, post_title, post_content, post_tag, view_times, post_date)
        values(#{postId}, #{uid},#{postType}, #{postTitle},#{postContent},#{postTag},#{viewTimes},#{postDate});
    </insert>

    <update id="setPostType">
            update post_table set post_type=#{postType} where post_id=#{postId};
    </update>

    <select id="getMorePosts" resultType="Post">
        select * from post_table where post_date &lt; #{startTime}
        order by post_date desc limit #{count};
    </select>

</mapper>