<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.grad.dao.PostMapper">
    <select id="getPostsByNewest" resultType="Post">
        select * from post_table where post_tag = #{postTag} order by post_date desc limit 0, #{count};
    </select>

    <insert id="addPost" parameterType="Post">
        insert into post_table(post_id, uid, post_type, post_title, post_content, post_tag, view_times, post_date)
        values(#{postId}, #{uid},#{postType}, #{postTitle},#{postContent},#{postTag},#{viewTimes},#{postDate});
    </insert>

    <update id="setPostType">
            update post_table set post_type=#{postType} where post_id=#{postId};
    </update>

    <select id="getMorePosts" resultType="Post">
        select * from post_table where post_tag = #{postTag} and post_date &lt; #{startTime}
        order by post_date desc limit #{count};
    </select>

    <select id="getPostById" resultType="Post">
        select * from post_table where post_id=#{postId};
    </select>

    <select id="checkLikeStatus" resultType="Object">
        select like_status from user_like_post where uid=#{uid} and post_id=#{postId};
    </select>

    <update id="increasePostLikeCnt">
        update post_table set like_cnt = like_cnt + #{cnt} where post_id = #{postId};
    </update>

    <update id="setUserLikeStatus">
        update user_like_post set like_status = #{likeStatus}
        where uid = #{uid} and post_id = #{postId};
    </update>

    <insert id="addUserLikeStatus">
        insert into user_like_post(uid, post_id, like_status)
        values(#{uid}, #{postId}, #{likeStatus});
    </insert>

    <delete id="deleteUserLikeStatus">
        delete from user_like_post where uid = #{uid} and post_id = #{postId};
    </delete>

    <select id="getPostsByRange" resultType="Post">
        select * from post_table limit #{start}, #{end};;
    </select>

    <select id="getPostTotalCnt" resultType="Integer">
        select count(post_id) from post_table;
    </select>

</mapper>