<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grad.dao.UserMapper">
    <insert id="addUser" parameterType="User">
        insert into user(uid, utype, username, password, email, community_name, house_addr, avatar_url, email_valid, create_date)
        values(#{uid}, #{utype}, #{username} ,#{password} , #{email}, #{communityName} , #{houseAddr}, #{avatarUrl} , #{emailValid}, #{createDate});
    </insert>

    <select id="getUserById" resultType="User">
        select * from user where uid=#{uid};
    </select>

    <select id="getUserByEmail" resultType="com.grad.pojo.User">
        select * from user where email = #{email};
    </select>

    <insert id="storeUserViewRecord">
        insert into user_view_record(uid, post_id, create_date)
        values(#{uid}, #{postId}, #{createDate}) limit 0, 50;
    </insert>

    <select id="getUserViewRecord" resultType="String">
        select post_id from user_view_record order by create_date desc limit 0, 20;
    </select>

    <select id="getNotes" resultType="com.grad.ret.committee.NoteItem">
        select * from community_note where community_name = #{communityName} order by create_date desc;
    </select>

    <update id="readNote">
        update community_note set read_cnt = read_cnt + 1 where note_id = #{noteId};
    </update>

    <insert id="addReserve">
        insert into reserve_table values(#{reserveId}, #{uid}, #{qrUrl});
    </insert>

    <select id="getCommunityNews" resultType="com.grad.ret.communitynews.CommunityNews">
        select * from community_news where community_name = #{communityName} order by create_date desc;
    </select>
</mapper>